# Allow ueventd to read /proc/bootdevice
allow ueventd proc_bootdevice:file r_file_perms;
permissive charger;

allow ueventd bfm_device:chr_file relabelto;
